{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'images/lang-logo.png'%}">
    </a>
    <h1>AutoBot per Linkedin</h1>
    <p><strong>Questa applicazione ti aiuterà ad eseguire alcune operazioni automatiche sul tuo profilo LinkedIn. Sarà il tuo social media manager automatizzato!</strong></p>
    <a type="button" class="btn btn-lg btn-primary" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="fab fa-linkedin-in"></span> Login con LinkedIn</a>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/biancini/linkedin-autobot"><span class="fab fa-github"></span> Codice su GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Per poter sfruttare le caratteristiche di questa applicazione è necessario fare login con il proprio account di LinkedIn.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Come funziona questa app</h3>
      <ul>
        <li>Questa app è deployata su Heroku usando GitHub.</li>
        <li>La app permette di interagire con il proprio profilo LinkedIn.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
